<a href="https://colab.research.google.com/github/jon-snow4869/House-Price-Prediction/blob/main/Cars.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('/content/drive/MyDrive/Data/car_price.csv')
df.head()

,Unnamed: 0,car_name,car_prices_in_rupee,kms_driven,fuel_type,transmission,ownership,manufacture,engine,Seats
0,0,Jeep Compass 2.0 Longitude Option BSIV,10.03 Lakh,"86,226 kms",Diesel,Manual,1st Owner,2017,1956 cc,5 Seats
1,1,Renault Duster RXZ Turbo CVT,12.83 Lakh,"13,248 kms",Petrol,Automatic,1st Owner,2021,1330 cc,5 Seats
2,2,Toyota Camry 2.5 G,16.40 Lakh,"60,343 kms",Petrol,Automatic,1st Owner,2016,2494 cc,5 Seats
3,3,Honda Jazz VX CVT,7.77 Lakh,"26,696 kms",Petrol,Automatic,1st Owner,2018,1199 cc,5 Seats
4,4,Volkswagen Polo 1.2 MPI Highline,5.15 Lakh,"69,414 kms",Petrol,Manual,1st Owner,2016,1199 cc,5 Seats

In [3]:
df2=df.copy()

In [4]:
#Converting car_prices in float
df2['car_prices_in_rupee']=df2['car_prices_in_rupee'].apply(lambda x:x.replace(',',''))
price_list1=[]
for i in range (df2.shape[0]):
  x=df2['car_prices_in_rupee'][i].split(' ')
  x1=float(x[0])
  if x[1]=='Crore':
    x1=x1*10000000
  elif x[1]=='Lakh':
    x1=x1*100000
  price_list1.append(x1)
df2['price']=price_list1

In [5]:
#Making 4 categories as 'Cheaper cars(<500000)','Mid range(500000 to 3000000)','Upper Mid range(3000000 to 10000000)' and 'Premium(>10000000)'
car_brand=[]
for i in range (len(price_list1)):
  if price_list1[i]<500000:
    car_brand.append(1)
  elif price_list1[i]>500000 and price_list1[i]<3000000:
    car_brand.append(2)
  elif price_list1[i]>3000000 and price_list1[i]<10000000:
    car_brand.append(3)
  else:
    car_brand.append(4)
df2['brand']=car_brand

In [6]:
# Kilometers into float
df2['kms_driven']=df2['kms_driven'].apply(lambda x:x.replace(',',''))
df2['kms_driven']=df2['kms_driven'].apply(lambda x:float(x.split(' ')[0]))
df2.head()

,Unnamed: 0,car_name,car_prices_in_rupee,kms_driven,fuel_type,transmission,ownership,manufacture,engine,Seats,price,brand
0,0,Jeep Compass 2.0 Longitude Option BSIV,10.03 Lakh,86226.0,Diesel,Manual,1st Owner,2017,1956 cc,5 Seats,1003000.0,2
1,1,Renault Duster RXZ Turbo CVT,12.83 Lakh,13248.0,Petrol,Automatic,1st Owner,2021,1330 cc,5 Seats,1283000.0,2
2,2,Toyota Camry 2.5 G,16.40 Lakh,60343.0,Petrol,Automatic,1st Owner,2016,2494 cc,5 Seats,1640000.0,2
3,3,Honda Jazz VX CVT,7.77 Lakh,26696.0,Petrol,Automatic,1st Owner,2018,1199 cc,5 Seats,777000.0,2
4,4,Volkswagen Polo 1.2 MPI Highline,5.15 Lakh,69414.0,Petrol,Manual,1st Owner,2016,1199 cc,5 Seats,515000.0,2

In [7]:
df3=df2

In [8]:
#Engine and Seats into float
df3['engine']=df3['engine'].apply(lambda x:float(x.split(' ')[0]))
df3['Seats']=df3['Seats'].apply(lambda x:float(x.split(' ')[0]))

In [9]:
#All categorical fields into dummies
df_fuel=pd.get_dummies(df3['fuel_type'],drop_first=True)
df_trans=pd.get_dummies(df3['transmission'],drop_first=True)
df_owner=pd.get_dummies(df3['ownership'],drop_first=True)
df3=pd.concat([df3,df_fuel,df_trans,df_owner],axis=1)

In [10]:
#Dropping remaining columns
df3=df3.drop(['car_prices_in_rupee','Unnamed: 0','car_name','fuel_type','transmission','ownership'],axis=1)

In [11]:
#Checking if all column data types are integers or floats
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5512 entries, 0 to 5511
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   kms_driven   5512 non-null   float64
 1   manufacture  5512 non-null   int64
 2   engine       5512 non-null   float64
 3   Seats        5512 non-null   float64
 4   price        5512 non-null   float64
 5   brand        5512 non-null   int64
 6   Diesel       5512 non-null   uint8
 7   Electric     5512 non-null   uint8
 8   Lpg          5512 non-null   uint8
 9   Petrol       5512 non-null   uint8
 10  Manual       5512 non-null   uint8
 11  1st Owner    5512 non-null   uint8
 12  2nd Owner    5512 non-null   uint8
 13  3rd Owner    5512 non-null   uint8
 14  4th Owner    5512 non-null   uint8
 15  5th Owner    5512 non-null   uint8
dtypes: float64(4), int64(2), uint8(10)
memory usage: 312.3 KB

In [12]:
x=df3.drop(['price'],axis=1)
y=df3['price']

In [13]:
#Scaling the data
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
scaled_x=scaler.fit_transform(x)

In [14]:
#Splitting data
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(scaled_x,y,random_state=42)

In [15]:
#Linear Regression Model
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(x_train,y_train)
lr.score(x_test,y_test)

0.5344631692201056

In [16]:
#Random Forest Model
from sklearn.ensemble import RandomForestRegressor
rf=RandomForestRegressor()
rf.fit(x_train,y_train)
rf.score(x_test,y_test)

0.8837401300209855

In [17]:
#XGBoost Model
import xgboost as xgb
xgbr=xgb.XGBRegressor()
xgbr.fit(x_train,y_train)
xgbr.score(x_test,y_test)

0.8911061234121134